[submodule "external/mono"]
        path = external/mono
	url = http://source/mono/mono.git
[submodule "debian-snapshot"]
	path = external/mono/external/debian-snapshot
	url = https://github.com/directhex/mono-snapshot.git
[submodule "entityframework"]
	path = external/mono/external/entityframework
	url = https://github.com/mono/entityframework.git
[submodule "external/mono/Lucene.Net"]
	path = external/mono/external/Lucene.Net
	url = https://github.com/mono/lucene.net.git
[submodule "referencesource"]
	path = external/mono/external/referencesource
	url = https://github.com/roozbehid/referencesource.git
	branch = mono
